header{
  justify-content: center;
  display:flex;
  align-items: center;
  background-color: #ece5e5;
  font-family: 'Oswald', sans-serif !important;
  font-size: xx-large;
  height:150px;
}

body{
    background-color: #9db1bd !important;
}

.container{
  margin-top:40px;
}

.container-fluid{
  font-size: xx-large;
}

h1 {
  color: #c0c0c0;
  font-family: verdana;
  font-size: 300%;
}

.topright {
  position:absolute;
  margin-top:150px;
  float:right;
  top: 8px;
  right: 16px;
  font-size: 18px;
}