header{
  justify-content: center;
  display:flex;
  align-items: center;
  background-color: #ece5e5;
  font-family: 'Oswald', sans-serif !important;
  font-size: xx-large;
  height:150px;
}

body{
    background-color: #9db1bd !important;
}

.container{
  margin-top:40px;
}

.container-fluid{
  font-size: xx-large;
}

h1 {
  color: #c0c0c0;
  font-family: verdana;
  font-size: 300%;
}

.topright {
  position:absolute;
  margin-top:150px;
  float:right;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

textarea {
  resize: none !important;
  width: 50vw;
  height: 8vh;
}

.half-top {
  display:flex;
  align-items: center;
  margin-top:10vh;
  justify-content: center;
}

.half-bottom {
  display:flex;
  align-items: center;
  margin-top:10vh;
  justify-content: center;
}

.horizontal_line {
  margin-top: 4vh;
  width: 100%;
  height: 2px;
  border-top: 2px solid black;
  line-height: 100%;
}