<nav class="navbar navbar-expand-xl bg-body-tertiar">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a href="/analyze" class="btn">
          Sentence analysis
        </a>
      </li>

      <li class="nav-item">
        <a href="/tone" class="btn">
          Tone changer
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          My account
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/modifyParameters">Change parameters</a></li>
          <li><a class="dropdown-item" href="/logout">Log out</a></li>
        </ul>
      </li>

    </ul>

  </div>
  </div>

</nav>