<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify password</title>
</head>
<body>
    <div class="m-0 row justify-content-center">
        <div class="col-auto p-5 text-center">
            <h2 class="display-1"><strong>As a security measure, please verify your password first.</strong></h1>
        </div>
        <div class="m-0 row justify-content-center">
            <div class="col-auto p-5 text-center">
                <form action="/usuarios/forgot_password" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                      </div>
                    {% elif message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                      </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <h2 class="display-6 text-center">Verify password</h2>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="password" aria-describedby="button-addon2">
                        <button class="btn btn-primary " type="submit" id="button-addon2">Verify</button>
                    </div>
            </div>
        </div>
    </form>
</body>
</html>